# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/
.env

# Flutter
kotemap_app/.dart_tool/
kotemap_app/build/
kotemap_app/.flutter-plugins
kotemap_app/.flutter-plugins-dependencies
kotemap_app/.packages

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
